* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: right;
  height: 100%;
  width: 100%;
}

.table-players-container {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
}
