.player-card {
  display: flex;
  flex-direction: column;
  min-height: 70px;
  margin: 1rem;
  background-color: #0f0f0f;
  color: #d8d8d8;
}

.top {
  display: flex;
  flex-direction: row;
}

.bottom {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  padding-top: 0.5rem;
}

.player-img-container {
  background-color: black;
  height: 100px;
  width: 100px;
}

.player-info-container {
  flex: 1;
  margin: 0 1rem;
}
.player-name {
  font-size: 1.5rem;
  color: white;
}

.player-role {
  font-style: italic;
}

.bar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 0;
  overflow-y: hidden;
  transition: all 200ms ease-in-out ;
}

.bar-form.active {
  height: 1.2rem;
}

.bar-form > input {
  width: 2rem;
  height: 1.2rem;
  background-color: #1d1d1d;
  color: #d8d8d8;
  border: none;
}

.bar-form > span {
  margin: 0 0.5rem;
}

.bar-input {
  background-color: #0f0f0f;
  width: 100%;
  resize: none;
  color: #d8d8d8;
  border: none;
  padding: 0.4rem;
}
.bar-input:focus {
  background-color: #1d1d1d;
  color: #d8d8d8;
  outline: none;
}

.bars-button {
  background-color: #1d1d1d;
  border: none;
  margin: 0.5rem;
}

.bars-button:focus {
  outline: none;
}

.new-bar-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.new-bar-form > input {
  background-color: #1d1d1d;
  color: #d8d8d8;
  border: none;
}

.new-bar-form > input:focus {
  outline: #0f0f0f solid 1px;
}

.bar-line-container {
  display: grid;
  grid-template-columns: 9fr 19fr 2fr;
  align-items: center;
}

.bar-line-container > p {
  font-size: 0.9rem;
  text-align: right;
  padding-right: 0.5rem;
}

.color-picker-button {
  display: flex;
  justify-content: flex-end;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  position: relative;
}

.circle-picker {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    margin-top: 1rem;
}

.circle-picker > span > div {
  margin-bottom: 7px !important;
  margin-right: 7px !important;
  margin-left: 7px;
  margin-top: 7px;
}
