.name {
    display: flex; 
    width: 85%;
    outline: none;
    border: 2px solid #D8E4E9;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #F7F8F9;
}

.description {
    display: flex; 
    width: 85%;
    outline: none;
    border: 2px solid #D8E4E9;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #F7F8F9;
}

.form-wrapper {
    display: flex;
}

.form-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}