.login-wrapper {
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 1em gray;
    border-radius: 10px;
    margin: 14% auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 14px;
}

.login-wrapper img {
    max-height:  42vh;
    margin-left: 9px;
    background-color: #e5e5e5;
    border-radius: 0px 10px 10px 0px;
}

header {
    color: #2F2E41;
    width: 303px;
    margin: 20px;
    font-weight: 700;
    font-size: 4.5vmin;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 85%;
    outline: none;
    border: 2px solid #D8E4E9;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #F7F8F9;
}

.input-wrong {
    transition: 250ms;
    width: 85%;
    outline: none;
    border: 2px solid #AD1D2C;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #F7F8F9;
}

::placeholder {
    color: #B0BABE;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;
    width: 90%;
}

.login-redirect {
    margin-top: 0.8em;
}


.button {
    margin-right: 15px;
    transition: 200ms;
    width: 95%;
    height: 3.5vh;
    border-radius: 5px;
    background-color: #2F2E41;
    border: 2px solid #2F2E41;
    color: white;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #2F2E41;
    background-color: white;
    color: #2F2E41;
}
