.search-table-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #333333;
}

.label-search-table {
  color: white;
  font-size: 4em;
  font-weight: 400;
  padding: 20px 0px 10px 25px;
}

.input-search-table {
  outline: none;
  width: 65%;
  font-size: 1.5em;
  margin: 15px 0px 0px 25px;
}

.button-search-table {
  transition: 200ms;
  outline: none;
  margin-left: 8px;
  padding: 1px 3px 1px 3px;
  font-size: 1.5em;
  width: auto;
  color: #333333;
  background-color: white;
  border: solid black;
  border-width: 1px;

  border-style: inset;
}

.button-search-table:hover {
  transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0px 0px 10px 6px rgba(32, 39, 33, 0.363);
  -moz-box-shadow: 0px 0px 7px 6px rgba(32, 39, 33, 0.363);
  box-shadow: 0px 0px 10px 6px rgba(32, 39, 33, 0.363);
}

.input-search-table::placeholder {
  color: #333333;
  padding-left: 2px;
}
