.all-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  height: 100vh;
  background-color: rgb(12, 12, 12);
}

.chat-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.chat-content::-webkit-scrollbar {
  width: 0.2rem;
}

.chat-content::-webkit-scrollbar-track {
  background: #000000;
}

.chat-content::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  border: none;
}

.players-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #1d1d1d;
  height: 70px;
}

.message-input {
  width: 80%;
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  margin: 0.5rem 1rem;
}

.message-input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 7px 6px #00eb1b5b;
  -moz-box-shadow: 0px 0px 7px 6px #00eb1b5b;
  box-shadow: 0px 0px 7px 6px #00eb1b5b;
}

.send-icon {
  height: 30px;
  cursor: pointer;
}

.dice-icon {
  height: 50px;
  cursor: pointer;
  margin: 1rem;
}

.roll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1d1d1d;
}
