@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap');

body {
  outline: none;
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  font-family: 'Work Sans', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
